body {
  background-color: #FCFCFC;
  overflow:overlay;
}

.body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #cbcbcb;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff6259;
}


#globalBackground{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: -25%;
  z-index: -100;
}

#flarebg{
  min-width: 100%;
  min-height: 100%;
  max-width: 250%;
  max-height: 400%;
}

p{
  font-family: "Franklin Gothic Light";
  font-size: 20px;
}

.date {
  color:gray;
  text-align:center;
  font-size:18px;
  margin:-10px;
}

h1 {
  font-family: "Franklin Gothic Light";
  font-size: 40px;
  color: red;
}

h2 {
  font-family: "Franklin Gothic Medium";
  font-size: 30px;
  color: red;
}

.blogTitle {
  text-decoration:none;
}

.post h2 {
  text-align: center;
}

.centertext {
  text-align: center;
}

em{
  font-size: 20px;
}

figcaption{
  font-family: "Franklin Gothic Light";
  font-style: italic;
  color: #333333;
}

a:link {
  color:#484848;
  font-family: "Franklin Gothic Light";
  font-size: 20px;
}

a:visited {
  color:#484848;
  font-family: "Franklin Gothic Light";
  font-size: 20px;
}

a:hover {
  color:red;
  font-family: "Franklin Gothic Light";
  font-size: 20px;
}

a:active {
  color:red;
  font-family: "Franklin Gothic Light";
  font-size: 20px;
}

.imlink{
  text-decoration: none;
}

.logo {
  display: inline-block;
  position: absolute;
  tab-index: 1;
  margin-left: 0em;
  margin-right: auto;
  margin-bottom:2em; 
  top: 3vmin;
  left: 3vmin;
  width: 39vmin;
  height: 10vmin; 
  /*padding: 8px;*/
}

.topbar {
  display: fixed;
  height: 13vmin;
  overflow: hidden;
  /*padding: 16px;*/
  margin: -8px 0px 2em -8px;
}

.toparrow{
  display: inline-block;
  position: absolute;
  background: url("/res/uparrow.svg") no-repeat;
  background-size: contain;
  margin-left: 0em;
  margin-right: auto;
  margin-bottom:2.5em;
  transform:rotate(90deg);
  top:8vmin;
  left:40vmin;
  width:5vmin;
  height:5vmin;
}

.arttitle {
  display: inline-block;
  position: absolute;
  background: url("/res/arttitle.svg") no-repeat;
  background-size: contain;
  margin-left: 0em;
  margin-right: auto;
  margin-bottom:2em;
  top:8vmin;
  left:46vmin;
  height:5vmin;
  width:12vmin;
}

.blogtitle {
  display: inline-block;
  position: absolute;
  background: url("/res/blogtitle.svg") no-repeat;
  background-size: contain;
  margin-left: 0em;
  margin-right: auto;
  margin-bottom:2em;
  top:8vmin;
  left:46vmin;
  height:5vmin;
  width:19vmin;
}

.linkstitle {
  display: inline-block;
  position: absolute;
  background: url("/res/linkstitle.svg") no-repeat;
  background-size: contain;
  margin-left: 0em;
  margin-right: auto;
  margin-bottom:2em;
  top:8vmin;
  left:46vmin;
  height:5vmin;
  width:19vmin;
}

.newsbar {
  display: block;
  background: black;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 30px;
  position: absolute;
  word-break: break-all;
  line-height: 30px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#scrollText {
  display: inline;
  color: white;
  margin: 0.5px;
  width: fit-content;
}

#fetchText {
  display: inline;
  color: white;
  margin: 3px;
  width: fit-content;
  position: absolute;
}

.togglebutton {
  background: url("/res/uparrow.svg") no-repeat;
  background-size: 75%;
  background-position: center;
  background-color: ;
  display: block;
  z-index: 99;
  position: absolute;
  width: 35px;
  height: 35px;
  right:12px;
  bottom: 0px;
}

.togglebutton:hover {
  background: url("/res/uparrowred.svg") no-repeat;
  background-size: 75%;
  background-position: center;
  cursor: pointer;
}

.linkimage {
  display: inline-block;
  width: auto;
  height: 15vmin; 
  margin: 2em;
}

.topcover {
  position: relative;
  min-height: 100vh;
  overflow: auto;
  background-color: transparent;
  margin: -8px;
}

.about {
  background-color: #cf0d1b;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 8px;
  margin-bottom: -8px;
  top: 0;
}

.about p {
  color: #ffe0e0;
}

.about h1 {
  color: white;
}

.about h2 {
  color: white;
}

.about a:link {
  color: white;
}

.about a:visited {
  color: white;
}

/* Tiles for links page */

.newgrounds {
  display: inline-block;
  background: url("/res/newgroundsblack.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 15vmin; 
  margin: 2em;
}

.newgrounds:hover {
  background: url("/res/newgrounds.png") no-repeat;
  background-size: contain;
}

.youtube {
  display: inline-block;
  background: url("/res/youtubeblack.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 15vmin; 
  margin: 2em;
}

.youtube:hover {
  background: url("/res/youtube.png") no-repeat;
  background-size: contain;
}

.twitter {
  display: inline-block;
  background: url("/res/twitterblack.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 15vmin; 
  margin: 2em;
}

.twitter:hover {
  background: url("/res/twitter.png") no-repeat;
  background-size: contain;
}

.twitch {
  display: inline-block;
  background: url("/res/twitchblack.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 15vmin; 
  margin: 2em;
}

.twitch:hover {
  background: url("/res/twitch.png") no-repeat;
  background-size: contain;
}

/* Tiles for main page */

.linkstile {
  display: inline-block;
  background: url("/res/linksblack.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 55vmin; 
  margin-left: auto;
  margin-right: auto;
}

.linkstile:hover {
  background: url("/res/linksred.png") no-repeat;
  background-size: contain;
}

.blogtile {
  display: inline-block;
  background: url("/res/blogblack.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 55vmin; 
  margin-left: auto;
  margin-right: auto;
}

.blogtile:hover {
  background: url("/res/blogred.png") no-repeat;
  background-size: contain;
}

.arttile {
  display: inline-block;
  background: url("/res/artblack.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 55vmin; 
  margin-left: auto;
  margin-right: auto;
}

.arttile:hover {
  background: url("/res/artred.png") no-repeat;
  background-size: contain;
}

.tilearray {
  margin-top:10vmin;
  text-align: center;
  margin-bottom: 80px;
}

/* flex */

.flexZone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  gap: 20px;
  height: auto;
  margin-bottom: 25px;
}

.imageHolder {
  background-color: white;
  box-shadow: 1px 4px 12px #5858586b;
  height: fit-content;
  border-radius: .8em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.imageInHolder {
  flex-shrink: 0;
  height: 350px;
}

.bigImageHolder {
  background-color: white;
  box-shadow: 1px 4px 12px #5858586b;
  width: fit-content;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.bigImageHolder img {
  max-width: 100%;
  max-height: 600px;
  margin-bottom: -5px;
}

/*not flex but still weird art stuff*/

.popup {
  display: block;
  position: fixed;
  margin: 1% auto 4%;
  left: 0;
  right: 0;
  max-width: min-content;
  height: -webkit-fill-available;
  background-color: white;
  box-shadow: 1px 4px 12px #0000008c;
  border-radius: 0em;
  overflow: hidden;
  z-index: 2000;
}

.popup img {
  height: 100%;
  width: auto;
}

.popup-background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.details {
  max-width: 875px;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 15px;
  background-color: white;
  box-shadow: 1px 4px 12px #5858586b;
  border-radius: .8em;
}

/* blog stuff */

.post {
  display: block;
  background-color: white;
  /*box-shadow: 1px 4px 6px #e2e2e2;*/
  box-shadow: 1px 4px 12px #5858586b;
  width: 875px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 16px;
  border-radius: .5em;
  /*border-style: solid;
  border-width: 2px;
  border-color: #E6E6E6;*/
}

.ad {
  display: block;
  background-color: white;
  box-shadow: 1px 4px 12px #5858586b;
  width: 875px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 16px;
  border-radius: .5em;
  text-align: center;
}

.bttbutton {
  background: url("/res/uparrow.svg") no-repeat;
  background-size: 75%;
  background-position: center;
  background-color: white;
  border-radius: 25%;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 2px;
  box-shadow: 2px 6px 12px #8d8d8d54;
  display: block;
  z-index: 99;
  position: fixed;
  width: 35px;
  height: 35px;
  right:15px;
  bottom: 15px;
}

.bttbutton:hover {
  background: url("/res/uparrowred.svg") no-repeat;
  background-size: 75%;
  background-position: center;
  background-color: white;
  border-radius: 25%;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 2px;
}

#loadMore {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 0px;
  width: 125px;
  height: 35px;
  background-color: white;
  border-radius: .5em;
  box-shadow: 1px 4px 12px #5858586b;
  font-size: 20px;
  font-family: "Franklin Gothic Light";
  text-align: center;
  padding-top: 9px;
}

#loadMore:hover {
  font-family: "Franklin Gothic Light";
  color: red;
  cursor: pointer;
}

/*Magazine stuff */

.magazinePage {
  width: 850px;
  height: 1100px;
  box-shadow: 1px 4px 12px #00000050;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  background:white;
}

/* Mobile changes */

@media only screen and (max-width: 1000px) {
.linkstile {
  display: inline-block;
  background: url("/res/linksred.png") no-repeat;
  background-size: contain;
  width: 65vmin;
  height: 65vmin; 
  margin-left: auto;
  margin-right: auto;
}

.blogtile {
  display: inline-block;
  background: url("/res/blogred.png") no-repeat;
  background-size: contain;
  width: 65vmin;
  height: 65vmin; 
  margin-left: auto;
  margin-right: auto;
}

.arttile {
  display: inline-block;
  background: url("/res/artred.png") no-repeat;
  background-size: contain;
  width: 65vmin;
  height: 65vmin; 
  margin-left: auto;
  margin-right: auto;
}

.newgrounds {
  display: inline-block;
  background: url("/res/newgrounds.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 15vmin; 
  margin: 2em;
}

.youtube {
  display: inline-block;
  background: url("/res/youtube.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 15vmin; 
  margin: 2em;
}

.twitter {
  display: inline-block;
  background: url("/res/twitter.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 15vmin; 
  margin: 2em;
}

.twitch {
  display: inline-block;
  background: url("/res/twitch.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 15vmin; 
  margin: 2em;
}

.post {
  display: block;
  width:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1em;
  margin-right: 1em;
}

.ad {
  display: block;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1em;
  margin-right: 1em;
}

.bttbutton {
  background: url("/res/uparrowred.svg") no-repeat;
  background-size: 75%;
  background-position: center;
  background-color: white;
  border-radius: 25%;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 2px;
  display: block;
  z-index: 99;
  position: fixed;
  width: 35px;
  height: 35px;
  right:15px;
  bottom: 15px;
}

#loadMore {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 0px;
  width: 125px;
  height: 35px;
  background-color: white;
  border-radius: .5em;
  box-shadow: 1px 4px 12px #5858586b;
  font-size: 20px;
  font-family: "Franklin Gothic Light";
  text-align: center;
  padding-top: 9px;
  color: red;
  user-select: none;
}

.imageHolder {
  background-color: white;
  box-shadow: 1px 4px 12px #5858586b;
  height: auto;
  width: 80%;
  border-radius: .8em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imageInHolder {
  flex-shrink: 0;
  height: auto;
  width: 100%;
}

.popup {
  display: block;
  position: fixed;
  margin: 1% 4%;
  left: 0;
  right: 0;
  max-width: -webkit-fill-available;
  height: min-content;
  background-color: #00000000;
  box-shadow: 0px 0px 0px #0000008c;
  border-radius: 0em;
  overflow: hidden;
  z-index: 2000;
}

.popup img {
  height: auto;
  width: 100%;
}

}
