body {
  background-color: #FCFCFC;
}

#globalBackground{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: -25%;
  z-index: -100;
}

#flarebg{
  min-width: 100%;
  min-height: 100%;
  max-width: 250%;
  max-height: 400%;
}

p{
  font-family: "Franklin Gothic Light";
  font-size: 20px;
}

h2 {
  font-family: "Franklin Gothic Medium";
  font-size: 30px;
  color: red;
}

em{
  font-size: 20px;
}

figcaption{
  font-family: "Franklin Gothic Light";
  font-style: italic;
  color: #333333;
}

.imlink{
  text-decoration: none;
}

.logo {
  display: block;
  margin-left: 0em;
  margin-right: auto;
  margin-bottom:2em;
  width: 39vmin;
  height: 10vmin; 
}

.topbar {
  display: block;
  width: fit-content;
}

.linkimage {
  display: inline-block;
  width: auto;
  height: 15vmin; 
  margin: 2em;
}

/* Tiles for links page */

.newgrounds {
  display: inline-block;
  background: url("/res/newgroundsblack.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 15vmin; 
  margin: 2em;
}

.newgrounds:hover {
  background: url("/res/newgrounds.png") no-repeat;
  background-size: contain;
}

.youtube {
  display: inline-block;
  background: url("/res/youtubeblack.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 15vmin; 
  margin: 2em;
}

.youtube:hover {
  background: url("/res/youtube.png") no-repeat;
  background-size: contain;
}

.twitter {
  display: inline-block;
  background: url("/res/twitterblack.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 15vmin; 
  margin: 2em;
}

.twitter:hover {
  background: url("/res/twitter.png") no-repeat;
  background-size: contain;
}

.twitch {
  display: inline-block;
  background: url("/res/twitchblack.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 15vmin; 
  margin: 2em;
}

.twitch:hover {
  background: url("/res/twitch.png") no-repeat;
  background-size: contain;
}

/* Tiles for main page */

.linkstile {
  display: inline-block;
  background: url("/res/linksblack.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 55vmin; 
  margin-left: auto;
  margin-right: auto;
}

.linkstile:hover {
  background: url("/res/linksred.png") no-repeat;
  background-size: contain;
}

.blogtile {
  display: inline-block;
  background: url("/res/blogblack.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 55vmin; 
  margin-left: auto;
  margin-right: auto;
}

.blogtile:hover {
  background: url("/res/blogred.png") no-repeat;
  background-size: contain;
}

.arttile {
  display: inline-block;
  background: url("/res/artblack.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 55vmin; 
  margin-left: auto;
  margin-right: auto;
}

.arttile:hover {
  background: url("/res/artred.png") no-repeat;
  background-size: contain;
}

.tilearray {
  text-align: center;
}

/* flex */

.flexZone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  gap: 20px;
  height: auto;
  margin-bottom: 25px;
}

.imageHolder {
  background-color: white;
  box-shadow: 1px 4px 12px #5858586b;
  height: fit-content;
  border-radius: .8em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.imageInHolder {
  flex-shrink: 0;
  height: 350px;
}

.bigImageHolder {
  background-color: white;
  box-shadow: 1px 4px 12px #5858586b;
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.bigImageHolder img {
  max-width: 875px;
  max-height: 500px;
}

/*not flex but still weird art stuff*/

.popup {
  display: block;
  position: fixed;
  margin: 1% auto 4%;
  left: 0;
  right: 0;
  max-width: min-content;
  height: -webkit-fill-available;
  background-color: white;
  box-shadow: 1px 4px 12px #0000008c;
  border-radius: 0em;
  overflow: hidden;
  z-index: 2000;
}

.popup img {
  height: 100%;
  width: auto;
}

.popup-background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.details {
  max-width: 875px;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 15px;
  background-color: white;
  box-shadow: 1px 4px 12px #5858586b;
  border-radius: .8em;
}

/* blog stuff */

.post {
  display: block;
  background-color: white;
  box-shadow: 1px 4px 6px #e2e2e2;
  width: 875px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 16px;
  border-radius: .5em;
  border-style: solid;
  border-width: 2px;
  border-color: #E6E6E6;
}

.bttbutton {
  background: url("/res/uparrow.svg") no-repeat;
  background-size: 75%;
  background-position: center;
  background-color: white;
  border-radius: 25%;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 2px;
  box-shadow: 2px 6px 12px #8d8d8d54;
  display: block;
  z-index: 99;
  position: fixed;
  width: 35px;
  height: 35px;
  right:15px;
  bottom: 15px;
}

.bttbutton:hover {
  background: url("/res/uparrowred.svg") no-repeat;
  background-size: 75%;
  background-position: center;
  background-color: white;
  border-radius: 25%;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 2px;
}

/* Mobile changes */

@media only screen and (max-width: 1000px) {
.linkstile {
  display: inline-block;
  background: url("/res/linksred.png") no-repeat;
  background-size: contain;
  width: 65vmin;
  height: 65vmin; 
  margin-left: auto;
  margin-right: auto;
}

.blogtile {
  display: inline-block;
  background: url("/res/blogred.png") no-repeat;
  background-size: contain;
  width: 65vmin;
  height: 65vmin; 
  margin-left: auto;
  margin-right: auto;
}

.arttile {
  display: inline-block;
  background: url("/res/artred.png") no-repeat;
  background-size: contain;
  width: 65vmin;
  height: 65vmin; 
  margin-left: auto;
  margin-right: auto;
}

.newgrounds {
  display: inline-block;
  background: url("/res/newgrounds.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 15vmin; 
  margin: 2em;
}

.youtube {
  display: inline-block;
  background: url("/res/youtube.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 15vmin; 
  margin: 2em;
}

.twitter {
  display: inline-block;
  background: url("/res/twitter.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 15vmin; 
  margin: 2em;
}

.twitch {
  display: inline-block;
  background: url("/res/twitch.png") no-repeat;
  background-size: contain;
  width: 55vmin;
  height: 15vmin; 
  margin: 2em;
}

.post {
  display: block;
  width:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1em;
  margin-right: 1em;
}

.bttbutton {
  background: url("/res/uparrowred.svg") no-repeat;
  background-size: 75%;
  background-position: center;
  background-color: white;
  border-radius: 25%;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 2px;
  display: block;
  z-index: 99;
  position: fixed;
  width: 35px;
  height: 35px;
  right:15px;
  bottom: 15px;
}

.imageHolder {
  background-color: white;
  box-shadow: 1px 4px 12px #5858586b;
  height: auto;
  width: 80%;
  border-radius: .8em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imageInHolder {
  flex-shrink: 0;
  height: auto;
  width: 100%;
}

.popup {
  display: block;
  position: fixed;
  margin: 1% 4%;
  left: 0;
  right: 0;
  max-width: -webkit-fill-available;
  height: min-content;
  background-color: #00000000;
  box-shadow: 0px 0px 0px #0000008c;
  border-radius: 0em;
  overflow: hidden;
  z-index: 2000;
}

.popup img {
  height: auto;
  width: 100%;
}

}
