body {
  background-color: white;
  background-image: url('flarinwebsite2/res/bg1.png');
}

p{
  font-family: "Franklin Gothic Light";
  font-size: 20px;
}

h2 {
  font-family: "Franklin Gothic Medium";
  font-size: 30px;
  color: red;
}

em{
  font-size: 20px;
}

figcaption{
  font-family: "Franklin Gothic Light";
  color: gray;
}

.notable{
  font-size: 2px;
  color: white;
}

.imlink{
  text-decoration: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo {
  display: block;
  margin-left: 0em;
  margin-right: auto;
  margin-bottom:2em;
  width: auto;
  height: 10vmin; 
}

.topbar {
  display: block;
  background-color: white;
}

.linkimage {
  display: inline-block;
  width: auto;
  height: 15vmin; 
  margin: 2em;
}

.tileimage {
  display: inline-block;
  width: auto;
  height: 65vmin; 
  margin-left: auto;
  margin-right: auto;
}

.tilearray {
  text-align: center;
}

.post {
  display: block;
}